*{
    margin:0;
    padding: 0;

}
form{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 30px;
    padding: 20px;
}

ul{
    display: flex;

    list-style:none;
}
li:nth-child(1){
    color:blue;
}

li:nth-child(2){
    color:red;
}
li:nth-child(3){
    color:yellow;
}
li:nth-child(4){
    color:rgb(72, 0, 255);
}
li:nth-child(5){
    color:green;
}
li:nth-child(6){
    color:red;
}
.input-enter-1{
    position: relative;
    height: 60px;
    width: 100%;
    
    
    color: rgb(20, 12, 12);
}
.input-enter-2{
    position: relative;
    height: 60px;
    width: 100%;


    color: rgb(1, 1, 1);
}
input{
    height: 20px;
    width: 200px;

    position:absolute;
    padding: 8px;
    border-radius: 5px;
    background: transparent;
    
}
.inputs{

    position:absolute;
    

    
    margin: 4px;
    font-size: 10px;
}

.ls{
    position:absolute;
    top: 12px;
    left: 8px;
    margin: 4px;
    
    font-size: 12px;
    transition: .4s;
    background-color: white;
}
.inputs:focus+.ls{
    top: -8px;
    padding: 5px;
    z-index: 1;
    color: blue;

}

h4{
    margin:50px 10px 10px 10px;
}
.logo{
    display: block;
    padding-left: 10vw;
}
.ticbar{
    
    margin: 10px;
}

input[type=password]{
    text
}

.arrow a{
    margin: 10px 0px 10px 0px;
    text-decoration: none;
}

button{
    height:30px;
    width: 40px;

    display:block;
    margin-left: 160px;
    color:rgb(30, 113, 186);
}

