*{
    padding:0;
    margin: 0;
}

#container
{
    display: flex;
    flex-direction:column;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-content: center;

}
.search,h3
{ display:flex;
    justify-content: center;
    align-content: center;
}
h3{
    color: red;
    padding: 40px;
}
input{
    padding: 10px ;
    border-color: rgb(11, 11, 21);
    border-style: solid;
    border-width: 2px;
    border-radius:2px;
    background-color: rgb(255, 0, 0,0.1);

}
input::placeholder{
    color: red;
    
}

button{
    padding: 15px;
    color: red;
    background: #f9c6c6;
}

