*
{
    margin:0;
    padding: 0;

}

img
{
    height: 100px;
    width: 100px;
}

.content
{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
    padding: 20px;

}
.content>div{
    padding: 20px;
    opacity: 0.6;
    height: 100px;
    width: 100px;
    overflow: hidden;
    transition-property: all;
}
.content>div h1{
    
    
    content-visibility: hidden;
    font-size: 15px;
    transform: rotate(360deg);

}
.content div:hover h1
{
    content-visibility: visible;
    
    
}


.content>div:hover
{
    opacity: 1;
    transition-duration: 0.8s;
    transition-timing-function: ease;

    height: 130px;


}

header{
    height: 50%;
    width: 100%;
    display:flex;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    background-color: orange
}
