#box1
{
    display: inline-block;
    height: 200px;
    width: 200px;
    background: #000 url(vijay.webp);
    background-size: cover;
    position:relative;
    
    
    border-radius: 30px;
    content-visibility:hidden;
    opacity: 0.8;
    border-style: groove;
    border-width: 4px;
    float: left;
    






}
#box2
{
    display:inline-block;
    height: 200px;
    width: 200px;
    background: #000;
    background-image: url(MV5BYjEyODkwMTUtMWQ2Mi00MTJjLWE2MTAtM2ExMzljNGY0ZTc2XkEyXkFqcGdeQXVyMjYwMDk5NjE@.webp);
    background-size: cover;
    position: relative;
    float: left;
    content-visibility:hidden;

    
    border-radius: 30px;
    opacity: 0.8;
    border-width: 4px;
    border-style:groove;
   right: 70;
 



}
#box3
{
    height:200px;
    width: 200px;
    background: #000 url(photo.webp) ;
    background-size: cover;
    position:absolute;
    border-radius: 30px;
    content-visibility:hidden;
    opacity: 0.8;
    border-style:groove;
    border-width: 4px;

    display: inline-block;
    float: left;
    right: 50;


    
    

}

#box1:hover{
    z-index: 1;
    transition-delay: .1s;
    transition-duration: 0.4;
    content-visibility:visible;
    opacity: 1;
}
#box2:hover{
    z-index: 1;
    transition-delay: .1s;
    transition-duration: 0.4;
    content-visibility:visible;
    opacity: 1;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);

}
#box3:hover{
    z-index: 0;
    transition-delay: .1s;
    transition-duration: 0.2;
    content-visibility:visible;
    opacity: 1;
}
img{
    height: 20px;
    width: auto;
    position: relative;
    bottom: 1;
    left: 10px;
    top: 90;
    margin: 10px;
}
img:hover{
    height: 23px;
    border:#000;
    border-style:dotted;
    border-color:antiquewhite;
    
}
header{
    height: 100px;
    width: 100%;
    background-color: blue;
    color: white;
    
}
header h4{
    position:relative;
    top: 50;
    bottom: 50;
    
    text-align: center;
    scroll-behavior: smooth;

    
}
.cards
{
    
    width:420;
    height:200px;
    display:inline-block;
    align-content: center;
    margin: 50px;
    background-color: rgb(243, 158, 158);
    border-color:beige;
    border-style: dotted;
    
    border-radius: 30px;
}