

*{
margin:0;
padding:0;
    
}
body{
    width: 100vw;
    height: 100vh;
    

    background: #cc8e8e;
    display: flex;
    font-size: 25px;
    justify-content: center;
    align-items:center;

}

.btn{
    
    position: relative;
    width: 400px;
    height:20px;
    background:transparent;
    background: #000;
}


.layer{
    z-index: -1;
    inset: 0;
    height:100%;
    width:0%;
    position: absolute;
    background-color: red;


}

.btn:hover .layer{
    width:100%;
    transition:0.5s;
}