*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100vw;
    background: rgb(5, 20, 20);
    background: linear-gradient(90deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    animation: styler 3s ease infinite;
background-size: 150%;

text-align: center;
font-family: 'Poppins', sans-serif;
}
h4{
    
}

@keyframes styler{
    0% {
        background-position: 0%;
    }
    50%{
        background-position: 100%;

    }
    100%{
        background-position:0%;
    }
}