body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;

}

h4{
    justify-content: center;
    align-content: center;
font-size: 40px;
color: white;
text-shadow: 0 0 25px red ,
0 0 55px rgb(93, 14, 150) ,
0 0 65px rgb(193, 13, 145) ;
}





